<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>捱写/一句话的事情，一篇文章的故事！</title>
<!--// Stylesheets //-->
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/scrollbar.css" rel="stylesheet" type="text/css" />
<!--// Javascript //-->
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/ddsmoothmenu.js"></script>
<script type="text/javascript" src="__JS__/menu.js"></script>
<script type="text/javascript" src="__JS__/contentslider.js"></script>
<script type="text/javascript" src="__JS__/jquery.1.4.2.js"></script>
<script type="text/javascript" src="__JS__/jquery.lint.js"></script>
<script type="text/javascript" src="__JS__/jquery.scroll.js"></script>
<script type="text/javascript" src="__JS__/scroll.js"></script>
<script type="text/javascript" src="__JS__/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__JS__/switch.js"></script>
<script type="text/javascript" src="__JS__/tabs.js"></script>
<script type="text/javascript" src="__JS__/cufon-yui.js"></script>
<script type="text/javascript" src="__JS__/cufon.js"></script>
<script type="text/javascript" src="__JS__/font.js"></script>
<script type="text/javascript" src="__EDITOR__/ueditor.config.js"></script>
<script type="text/javascript" src="__EDITOR__/ueditor.all.js"></script>
<style type="text/css">
    
</style>
<script type="text/javascript">
        window.onload = function(){
            var oXi = document.getElementById('xiding');
            oXioffsetTop = oXi.offsetTop;//当前元素距离顶部的偏移量
            console.log(oXioffsetTop);
            window.onscroll = function() {
                console.log(document.body.scrollTop);
                if (oXioffsetTop <= document.body.scrollTop) {
                    oXi.style.position = 'fixed';
                } else {
                    oXi.style.position = '';
                }
                
            }
        }
</script>
</head>
<body class="bg2">
{block name="header"}
<span class="smalllines">&nbsp;</span>
<!-- Wrapper -->
<div id="wrapper_sec">
    <!-- 吸顶条头部 -->
<div style="height: 89px;border-bottom:1px solid #373D41;">
<div id="xiding" style="height:89px;background-color: #DCDCF0;border-bottom:1px solid #373D41;z-index: 1000;">
	<!-- Top Section -->
    <div class="top_sec">
    	<!-- Top Section Left Links -->
      
        <!-- Top Section right Links -->
        <div class="links_icons">
        	<ul>
              {if $islog ==0}
                    <li><a href="{:url('index/index')}" class="index">首页</a></li>
                    <li><a href="{:url('log/log')}" class="user">登录</a></li>
                    <li><a href="{:url('user/regmail')}" class="message">注册</a></li>
                    <li><a href="{:url('mmzh/mmzh')}" class="exit">找回密码</a></li>
                {else}
                    <li><a href="{:url('index/index')}" class="index">首页</a></li>
                    <li><a href="{:url('blog/blog',['uid'=>$data['uid']])}" class="user">{$data['uname']}</a></li>
                    <li><a href="{:url('privatem/privatem')}" class="message">消息</a></li>
                    <li><a href="{:url('index/exit')}" class="exit">退出登录</a></li>
                {/if}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Header -->
    <div id="masthead">
    	<!-- Logo -->
        <div class="logo">
        	<a href="{:url('index/index')}"><img src="__IMG__/aixie.png" style="height: 60px"alt="" /></a>
        </div>
        <!-- Navigation -->
        <div class="navigation">
        	<div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                    {if $islog ==1}
                    <li><a href="{:url('blog/blog',['uid'=>$data['uid']])}" >个人中心</a></li>
                    {/if}
                        
                      {if !empty($topic)}
                        {foreach $topic as $value}
                     <li><a href="{:url('index/index')}?tid={$value['tid']}">{$value['tname']}</a></li>
                           {/foreach}
                       {/if}  
                </ul>  
                
                <div class="clear"></div>
            </div>
        </div>
        <!-- Search -->
        <div class="search">
        	<input type="text" value="请输入内容" id="searchBox" name="s" onblur="if(this.value == '') { this.value = '请输入内容'; }" onfocus="if(this.value == '请输入内容') { this.value = ''; }" class="bar" />
            <a href="#" class="go">&nbsp;</a>
        </div>
    </div>
</div>
</div>
    <div class="clear"></div>
    <!-- Content Section -->
    <div id="content_sec">
    	<!-- Bread Crumb -->
        <div id="crumb">
        	<h5>You are here!</h5>
            <ul style="height: 25px;">
                <li><a href="{:url('index/index')}">首页</a></li>
                {if $islog ==1}
                <li>
                    <a href="#">个人中心</a>
                </li>
                    
                        <li class="xiangq"><a href="#">{$data['uname']}</a></li>
                            <div class="private">
                            <a href="{:url('blog/blog',['uid'=>$data['uid']])}">我的微博</a>
                            <a href="{:url('privatem/privatem')}">私信</a>
                          </div>
                            </ul>
                    {/if}
                </ul>
        </div>
{/block}
{block name="content_left"}
asd
{/block}
{block name="content_right"}
     <div class="col2">
            <!-- Categories -->
            <div class="categories">
                <h5>Categories</h5>
                <ul>
                    <li><a href="#" class="colr">Action</a></li>
                    <li><a href="#" class="colr">Art &amp; Animation</a></li>
                    <li><a href="#" class="colr">Entertainment &amp; TV</a></li>
                    <li><a href="#" class="colr">Food</a></li>
                    <li><a href="#" class="colr">Games</a></li>
                    <li><a href="#" class="colr">How-To</a></li>
                    <li><a href="#" class="colr">Music</a></li>
                    <li><a href="#" class="colr">People &amp; Vlogs</a></li>
                    <li><a href="#" class="colr">Environment</a></li>
                    <li><a href="#" class="colr">Transportation</a></li>
                </ul>
                <ul>
                    <li><a href="#" class="colr">Animals</a></li>
                    <li><a href="#" class="colr">Commercials</a></li>
                    <li><a href="#" class="colr">Family</a></li>
                    <li><a href="#" class="colr">Funny Videos</a></li>
                    <li><a href="#" class="colr">Health &amp; Beauty</a></li>
                    <li><a href="#" class="colr">Movies &amp; Shorts</a></li>
                    <li><a href="#" class="colr">News &amp; Politics</a></li>
                    <li><a href="#" class="colr">Products &amp; Tech</a></li>
                    <li><a href="#" class="colr">Sports</a></li>
                    <li><a href="#" class="colr">Travel</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <!-- Tabs -->
            <div class="tabs">
                <div class="tab_menu_container">
                    <ul id="tab_menu">  
                        <li><a class="current" rel="tab_sidebar_recent">新鲜事</a></li>
                        <li><a class="" rel="tab_sidebar_comments">时事热点</a></li>
                        <li><a class="" rel="tab_sidebar_tags">热门段子</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
                <div class="tab_container">
                    <div class="tab_container_in">
                        <!-- Recent --> 
                        <div style="display: none;" id="tab_sidebar_recent" class="tab_sidebar_list">                   
                            <ul class="videolist">
                                <li>
                                    <div class="thumb">
                                    <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                    <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video7.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>           
                        </div> 
                        <!-- END -->
                        <!-- Top Rated -->
                        <div style="display: none;" id="tab_sidebar_comments" class="tab_sidebar_list">  
                            <ul class="videolist">
                                <li>
                                    <div class="thumb">
                                        <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video7.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                    <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                    <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <!-- END -->
                        <!-- Most Commented -->
                        <div style="display: none;" id="tab_sidebar_tags" class="tab_sidebar_list"> 
                            <ul class="videolist">
                                <li>
                                    <div class="thumb">
                                    <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                    <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video7.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb">
                                        <a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                        <h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!-- Top Searches -->
            <div class="topsearches">
                <h5>Top Searches</h5>
                <ul>
                    <li><a href="#" class="colr">Anne Roumanoff</a></li>
                    <li><a href="#" class="colr">Caméra caché</a></li>
                    <li><a href="#" class="colr">Cauet</a></li>
                    <li><a href="#" class="colr">Eric et Ramzy</a></li>
                    <li><a href="#" class="colr">Florence</a></li>
                    <li><a href="#" class="colr">Foresti</a></li>
                    <li><a href="#" class="colr">Franck Dubosc</a></li>
                    <li><a href="#" class="colr">Francois</a></li>
                    <li><a href="#" class="colr">Damiens</a></li>
                    <li><a href="#" class="colr">Anthony</a></li>
                    <li><a href="#" class="colr">Kavanagh</a></li>
                    <li><a href="#" class="colr">Jamel</a></li>
                    <li><a href="#" class="colr">Debbouze</a></li>
                    <li><a href="#" class="colr">Laurent</a></li>
                    <li><a href="#" class="colr">Ruquier</a></li>
                    <li><a href="#" class="colr">Les Nuls</a></li>
                    <li><a href="#" class="colr">Michaël Youn</a></li>
                    <li><a href="#" class="colr">Omar et Fred</a></li>
                    <li><a href="#" class="colr">Patrick Timsit</a></li>
                    <li><a href="#" class="colr">Rémi Gaillard</a></li>
                    <li><a href="#" class="colr">Gad ElMaleh</a></li>
                    <li><a href="#" class="colr">Stéphane Guillon</a></li>
                    <li><a href="#" class="colr">TF1 Replay</a></li>
                    <li><a href="#" class="colr">chatroulette</a></li>
                </ul>
                <a href="#" class="buttonone"><span>Most Viewed Videos</span></a>
                <a href="#" class="buttonone"><span>Recent Videos</span></a>
            </div>
            <div class="clear"></div>
            <!-- Advertisment -->
            <div class="adv">
                <a href="#"><img src="__IMG__/adv1.gif" alt="" /></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{/block}
{block name="foot"}
<!-- Footer -->
<div class="clear"></div>
<div id="copyrights">
    <div class="inner">
        <p>Copyright © 2013 VidSea. All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        
    </div>
</div>
{/block}
</body>
</html>
<!-- <script type="text/javascript">
    $(function(){
        $('.xiangq').children('a').click(function(){
            $('private').slideToggle();
        })
    })
</script> -->