{extend name="public/header" /}
    {block name="content_left"}
    	<!-- Column 1 -->
        <div class="col1" style="width: 1000px;">
            <div class="blog">
            	<p class="heading">{$topicname}</p>
                <ul class="bloglisting">
                	<li>
                        
                        <div class="desc" style="width: 675px;">
                            <img src="{$data['uimage']}" style="width: 55px;height: 55px;float: left;">
                        	<a class="comments_bubble" href="#">阅读{$details['readcount']}</a>
                        	<p class="biaoti" style="width: 620px;float: right;">{$details['atitle']}</p>
                            <p class="time">{$details['pubtime']}</p>
                            <input type="hidden" id="cuid" value="{$details['uid']}">
                            <input type="hidden" id="aida" value="{$details['aid']}">
                            <p class="postedby">{$data['uname']}<script type="text/javascript">$.post</script></p>
                            <div class="clear"></div>
                        </div>
                        <br />
                        	{$details['acontent']}
                        <ul class="xiaogongneng">
                            <li style="width: 65px;">
                                <a href="javascript:void(0);" class="zhuanfa">{$details['copy']}</a>
                            </li>
                            <li style="width: 65px;"><a href="#" class="pinglun">{$details['reply']}</a></li>
                            <li style="width: 65px;"> <a href="javascript:void(0);" class="zan">{$details['favour']}</a></li>
                            <li style="width: 30px;"><a href="{:url('details/delete',['aid'=>$details['aid']])}" style="width: 26px;">
                                删除
                            </a></li>
                            <li style="width: 30px;"><a href="{:url('details/details',['aid'=>$details['aid']])}" style="width: 26px;">编辑 </a> </li>
                        </ul>        
                <div class="clear"></div>
                <!-- 评论区 -->
                <div class="zhuijia">
                    <div class="comments">

                
                    <ul class="commentslist">
                        {foreach $list as $value}
                        <li class="level1">
                            <img src="{$value['uimage']}" style="width: 55px;height: 55px;float: left;">
                            <form action="{:url('details/reply')}" onsubmit="return replys();">
                            <div class="desc">
                                
                                <input type="hidden" name="ruid" value="{$value['uid']}">
                                <div class="commentlinks singlebtn">
                                    <a href="javascript:void(0);" class="reply">回复</a>
                                </div>
                                <a href="#" class="colr">{$value['uname']}</a>
                                <p class="time" style="margin-top: 0px;height: 16px;">{$value['comtime']}</p>
                                <div class="clear"></div>
                                <p class="txt">
                                    {$value['ccontent']}
                                </p>
                                <a href="javascript:void(0);" class="deletep" style="color: #ea1010;font-weight: bold;">删除</a>
                                <input type="hidden" name="pid" value="{$value['pid']}">
                            </div>
                            <input type="text" name="replycontent" class="hidden1" class="replys" placeholder="请输入回复内容">
                            <button style="cursor: pointer;" class="hidden1">回复</button>
                            <input type="hidden" name="aid" value="{$value['aid']}">
                            </form>
                        </li>
                            
                            <div style="width: 658px;" class="chakanAll"> 
                            <span><img src="__IMG__/arrow_right.gif" style="width: 10px;height: 25px;position: relative;top: -75px;left: -39px;"></span>  
                            {if !empty($value['reply'])}
                                {foreach $value['reply'] as $v}
                            <!-- 回复区 --> 
                            <li class="level2 hidden1">
                                <img src="{$v['uimage']}" style="width: 55px;height: 55px;float: left;">
                                <div class="desc" style="width: 500px;">
                                    <form action="{:url('details/reply')}" onsubmit="return replys();">
                                    <input type="hidden" name="pid" value="{$value['pid']}">
                                    <input type="hidden" name="ruid" value="{$v['uid']}">
                                    
                                   <a href="#" class="colr">{$v['uname']}</a>
                                    <p class="time" style="margin-top: 0px;height: 16px;">{$v['replytime']}</p>
                                    <div class="clear"></div>
                                    <p class="txt">
                                       {$v['replycontent']}
                                    </p>
                                    <input type="text" name="replycontent" class="hidden1" class="replys" placeholder="请输入回复内容">
                                
                                    <button style="cursor: pointer;" class="hidden1">回复</button>
                                
                                    <input type="hidden" name="aid" value="{$value['aid']}">
                                    </form>
                                </div>      
                            </li>
                                {/foreach}
                            {/if}
                            <!-- <span class="shouqi">点击收起</span> -->
                            </div>
                        {/foreach}
                    </ul>
                <div class="clear"></div>
                <br /><br />
                <!-- Pagination -->
                
           
            </div>
             <div class="blogsline">
                    {if !empty($list)}
                    {$page}
                {/if}
                </div>
            </div>
                 <script type="text/javascript">
                        $('.zan').click(function(){
                         $.post("{:url('details/zan')}",{aid:$('#aida').val()},
                            function(obj){
                                $('.zan').html(obj);
                            },'json');
                        });
                         $('.deletep').click(function(){
                         $.post("{:url('details/deletep')}",{pid:$(this).next().val(),aid:$('#aida').val()},
                            function(obj){
                                alert(1);
                                $('.comments').css('display','none');
                                 $('.blogsline').css('display','none');
                                $('.zhuijia').append(obj);
                            },'json');
                        });
                        $('.zhuanfa').click(function(){
                         $.post("{:url('details/copy')}",{cuid:$('#cuid').val(),aid:$('#aida').val()},
                            function(obj){
                                $('.zhuanfa').html(obj);
                            },'json');
                        });
                        function replys()
                                {
                                    if ($('.replys').val() =='') {
                                        return false;
                                    } else {
                                        return true;
                                    }
                                }
                    </script>
                <a class="span1">来一手最新评论吧</a>
                <input type="text" name="ccontent" id="ccontent" style="width: 280px;height: 20px;border-top: 0px;">
                <a style="cursor: pointer;margin-left: 55px;" href="javascript:void(0);" id="pinglundj">评论</a>
            <div class="clear"></div>
        </div>
        <script type="text/javascript">
            $('#pinglundj').click(function(){
                         $.post("{:url('details/insertComment')}",{ccontent:$('#ccontent').val(),aid:$('#aida').val()},function(obj){
                                $('.comments').css('display','none');
                                $('.blogsline').css('display','none');
                                $('.zhuijia').append(obj);
                            },'json');
            });
           
            $('.reply').click(function(){
                $(this).parent().parent().nextAll().removeClass('hidden1').end();
            });
            $('.shouqi').click(function(){
                $(this).parent().fadeOut();
            })
            $(function(){
            $('.chakanAll').click(function(){
                $(this).children('li').slideToggle().end().siblings().children('li').slideUp();
                })
            })
        </script>

        <!-- Column 2 -->
        {/block}
        {block name="content_right"}
        <div class="col2">
        	<!-- Categories -->
            <div class="categories">
            	<h5>Categories</h5>
                
                <ul>
                	
                    <li><a href="#" class="colr"></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        	<!-- Tabs -->
            <div class="tabs">
            	<div class="tab_menu_container">
                    <ul id="tab_menu">  
                        <li><a class="current" rel="tab_sidebar_recent">Recent</a></li>
                        <li><a class="" rel="tab_sidebar_comments">Comments</a></li>
                        <li><a class="" rel="tab_sidebar_tags">Tags</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
                <div class="tab_container">
                    <div class="tab_container_in">
                        <!-- Recent --> 
                        <div style="display: none;" id="tab_sidebar_recent" class="tab_sidebar_list">					
                        	<ul class="videolist">
                            	
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>			
                        </div> 
                        <!-- END -->
                        <!-- Top Rated -->
                        <div style="display: none;" id="tab_sidebar_comments" class="tab_sidebar_list">  
                            <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <!-- END -->
                        <!-- Most Commented -->
                        <div style="display: none;" id="tab_sidebar_tags" class="tab_sidebar_list"> 
                            <ul class="videolist">
                            	
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        	<!-- Top Searches -->
            <div class="topsearches">
            	<h5>Top Searches</h5>
                <ul>
                	
                </ul>
                <a href="#" class="buttonone"><span>Most Viewed Videos</span></a>
                <a href="#" class="buttonone"><span>Recent Videos</span></a>
            </div>
            <div class="clear"></div>
            <!-- Advertisment -->
        	<div class="adv">
            	<a href="#"><img src="images/adv1.gif" alt="" /></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{/block}