<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>站点设置</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="settings"></i><em>站点设置</em></span>
  </div>
<form action="{:url('website/basic_settings')}" method="post">
  <table class="noborder">
   <tr>
    <td style="width:15%;text-align:right;"><b>站点名称：</b></td>
    <td><input type="text" name="zname" value="{$website['zname']}" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"><b>站点描述：</b></td>
    <td><input type="text" name="description" value="{$website['description']}" class="textBox length-long"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"><b>电子邮件：</b></td>
    <td><input type="text" name="email"  value="{$website['email']}" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"><b>联系电话：</b></td>
    <td><input type="text" name="phone"  value="{$website['phone']}" class="textBox length-middle"/></td>
   </tr>
   <tr>
    <td style="text-align:right;"><b>关闭站点：</b></td>
    {if($website['isclose']==1)}
    <td>
     <input type="radio" name="isclose" value="1" checked id="yes"/>
     <label for="yes">是</label>
     <input type="radio" name="isclose" value="0"  id="no"/>
     <label for="no">否</label>
    </td>
    {else}
    <td>
      <input type="radio" name="isclose" value="1" id="yes"/>
     <label for="yes">是</label>
     <input type="radio" name="isclose" value="0" checked id="no"/>
     <label for="no">否</label>
   </td>
    {/if}
   </tr>
   <tr>
    <td style="text-align:right;"><b>关闭站点提示：</b></td>
    <td>
     <textarea name="notice" class="textarea">{$website['notice']}</textarea>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="修改" class="tdBtn"/></td>
   </tr>
  </table>
 </div>
</body>
</html>