<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新增产品分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>添加正能量网站</em></span>
  </div>
  <form action="{:url('website/loving')}" method="post">
	  <table class="list-style">
	   <tr>
		<td style="text-align:right;">正能量关键词：</td>
		<td>
		 <input type="text" name="lovetitle" class="textBox length-long"/>
		</td>
	   </tr>
	   <tr>
		<td style="text-align:right;">关联的url：</td>
		<td>
		 <input type="text" name="loveurl" class="textBox length-long"/>
		</td>
	   </tr>
	   <tr>
		<td style="text-align:right;"></td>
		<td><input type="submit" value="添加能量" class="tdBtn"/></td>
	   </tr>
	  </table>
	   <div class="page-title">
    <span class="modular fl"><i></i><em>友情列表</em></span>
  </div>
  <table class="list-style">
	<th>编号</th>
	<th>关键词</th>
	<th>url</th>
	<th>添加时间</th>
	<th>修改</th>
{foreach $lovelist as $vo}
	<tr>
		<td style="text-align:center">{$vo.lid}</td>
		<td style="text-align:center">{$vo.lovetitle}</td>
		<td style="text-align:center">{$vo.loveurl}</td>
		<td style="text-align:center">{$vo.addtime}</td>
		<td style="text-align:center"><a href="{:url('website/lovelist')}?lid={$vo.lid}" class="center" title="删除"><img src="__IMG__/icon_view.gif"/></a></td>
	</tr>
{/foreach}
  </table>
 </div>
</body>
</html>