<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>修改密码</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>修改密码</em></span>
  </div>
  <form action="{:url('website/revise_password')}" onsubmit="return demo()">
  <table class="noborder">
   <tr>
    <td width="15%" style="text-align:right;">昵称：</td>
    <td><input type="text" id="adminname" name="adminname" class="textBox length-middle"/></td>
	 <td><span class="adminname" style="color:red"></span></td>
   </tr>
   <tr>
    <td style="text-align:right;">邮箱：</td>
    <td><input type="text" id="adminemail" name="adminemail" class="textBox length-middle"/></td>
	 <td><span class="adminemail" style="color:red"></span></td>
   </tr>
   <tr>
    <td style="text-align:right;">旧密码：</td>
    <td><input type="password" id="password" name="adminpassword" class="textBox length-middle"/></td>
	 <td><span class="password" style="color:red"></span></td>
   </tr>
   <tr>
    <td style="text-align:right;">新密码：</td>
    <td><input type="password" id="newpassword" name="newpassword" class="textBox length-middle"/></td>
	 <td><span class="newpassword" style="color:red"></span></td>
   </tr>
   <tr>
    <td style="text-align:right;">再次确认密码：</td>
    <td><input type="password" id="renewpassword" name="repassword" class="textBox length-middle"/></td>
	 <td><span class="renewpassword" style="color:red"></span></td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" class="tdBtn" value="修改"/></td>
   </tr>
  </table>
 </div>
</body>
</html>
<script type="text/javascript">

//验证昵称
var nameflag = false;
var emailflag = false;
var passwordflag = false;
$('#adminname').blur(function(){
    $.post("{:url('change_admin_ajaxname')}",{adminname:$('#adminname').val()},function(data){
        if(data.code == 0){
          $('.adminname').text(data.message);
        }else if(data.code == 1){
           $('.adminname').text(data.message);
            nameflag = true;
        }else{
           $('.adminname').text(data.message);
        }
    },'json');
});
//验证邮箱
$('#adminemail').blur(function(){
    $.post("{:url('change_admin_ajaxemail')}",{adminemail:$('#adminemail').val()},function(data){
        if(data.code == 1){
          $('.adminemail').text(data.message);
        }else if(data.code == 2){
           $('.adminemail').text(data.message);
		    emailflag = true;
        }else{
           $('.adminemail').text(data.message);
         
        }    
      },'json');
});
$('#password').blur(function(){
    if($('#password').val() == ''){
      $('.password').text('密码不能为空');
    }else{
      $('.password').text('');
    }
});
//验证密码是否一致
$('#newpassword').blur(function(){
    if($('#newpassword').val() == ''){
      $('.newpassword').text('密码不能为空');
    }else{
      $('.newpassword').text('');
    }
});
 $('#renewpassword').blur(function(){
        if($('#renewpassword').val() == ''){
          $('.renewpassword').text('密码不能为空');
        }else{
          if($('#renewpassword').val() == $('#newpassword').val()){
                passwordflag = true;
               $('.renewpassword').text('');
          }else{
			$('.renewpassword').text('二次密码不相同');
             
          }
        }
      });
function demo()
{
  if(nameflag == true && emailflag == true && passwordflag == true){
    return true;
  }else{
    return false;
  }
}
</script>