
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>文章列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__BOOT__/css/bootstrap.css">
<script src="__JS__/jquery.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="order"></i><em>文章列表</em></span>
  </div>
  <div class="operate">
    <form action="{:url('product_list')}" method="post">
		 <select class="inline-select" name="status">
			<option value="0">通过的文章</option>
			<option value="2">未通过的文章</option>
			<option value="3">通过并推荐的文章</option>
		</select>
    <img src="__IMG__/icon_search.gif"/>
    <input type="submit" value="查询" class="tdBtn"/> 
   </form>
  </div> 
  <table class="list-style Interlaced">
   <tr>
    <th>文章序号</th>
    <th>发表时间</th>
    <th>发表标题</th>
    <th>文章审核状态</th>
    <th>详情并操作</th>
   </tr>
   {foreach name="list" item="vo" }
   <tr>
    <td>
     <span class="block" style="text-align:center">{$vo.aid}</span>
    </td>
    <td class="center">
     <span class="block">{$vo.pubtime}</span>
    </td>
    <td width="450">
     <span class="block" style="text-align:center">{$vo.atitle}</span>
    </td>
    <td class="center">
     <span>{$vo.status}</span>
    </td>
    <td class="center">
     <a href="{:url('product_detail')}?uid={$vo.uid}&aid={$vo.aid}" class="inline-block" title="查看订单"><img src="__IMG__/icon_view.gif"/></a>
    </td>
   </tr>
   {/foreach}
 
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation
	  <div class="BatchOperation fl">
	   <input type="checkbox" id="del"/>
	   <label for="del" class="btnStyle middle">全选</label>
	   <input type="button" value="配货" class="btnStyle"/>
	   <input type="button" value="删除订单" class="btnStyle"/>
	  </div> -->
	  <!-- turn page -->
	  <div class="turnPage center fr">
	   {$page|default="只有一页数据哦"}
	  </div>
  </div>
 </div>
</body>
</html>