<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>新增产品分类</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i></i><em>添加分类</em></span>
  </div>
 <form action="{:url('categorys/add_category')}" method="post">
  <table class="list-style">
   <tr>
    <td style="text-align:right;width:15%;">分类名称：</td>
    <td>
     <input type="text" name="name" class="textBox"/>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;width:10%;">添加下级分类：</td>
    <td>
     <select class="textBox" name="pid">
	{foreach $data as $vo}
      <option value="{$vo.id}">{$vo.pid}--{$vo.name}--{$vo.id}</option>
	 {/foreach}
     </select>
    </td>
   </tr>
      <tr>
    <td style="text-align:right;width:15%;">关联url(大板块不需要添加)</td>
    <td>
     <input type="text" name="url" class="textBox"/>
    </td>
   </tr>
   <tr>
    <td style="text-align:right;"></td>
    <td><input type="submit" value="添加分类" class="tdBtn"/></td>
   </tr>
  </table>
  </form>
   <div class="page-title">
    <span class="modular fl"><i></i><em>分类列表</em></span>
  </div>
  <table class="list-style">
	<th>id</th>
	<th>子节点</th>
	<th>父节点</th>
	<th>url</th>
	<th>删除</th>
	{foreach $data as $vo}
	<tr>
		<td style="text-align:center">{$vo.id}</td>
		<td style="text-align:center">{$vo.html}{$vo.name}</td>
		<td style="text-align:center">{$vo.pid}</td>
		<td style="text-align:center">{$vo.url}</td>
		<td style="text-align:center"><a href="{:url('categorys/add_category')}?id={$vo.id}" class="center" title="删除"><img src="/static/img/icon_drop.gif"/></a></td>
		
	</tr>
	{/foreach}
  </table>
 </div>
</body>
</html>