{extend name="public/mm" /}
{block name="sy"}
    <div class="i_top">
        <h3 class="title">找回帐号密码</h3>
    </div>
    <div class="i_mod">
        <div class="form_mod">
            <ul class="form_list">
                <form action="{:url('setmm')}" onsubmit="return demo();">
                <li class="item">
                    <span class="tit">登录名：</span>
                    <input type="text" id="phone" style="margin-right: 10px" name="phone" class="fInput w200" value="" placeholder="请输入注册时的手机">
                    <span id="id_11"></span>
                </li>
                <li class="item">
                   <a href="javascript:void(0);" id="get" class="W_btn_e" action-data="type=sendsms">免费获取短信激活码</a>
								<span class="code_mod">
									<input type="text" class="fInput w93" value="" placeholder="" id="pricode" maxlength="4" style="margin-right: 10px">
                                    <span id="id_22"></span>
								</span>
                </li>
                <li class="item">
                    <div class="btn_mod">
                      <button  class="W_btn_big btn btn-default" id="submit_1">立即提交</button>
                    </div>
                </li>
            </form>
            </ul>
        </div>
    </div>
</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    var checkAll = [0, 0];
    //手机激活码
     $("#get").click(function(){
        var phone = $("#phone").val();
        $.post('{:url('ucpaas')}',{phone:phone},
            function(obj){
            alert(obj.send);
            },'json');
        });
     //手机号登录名
      $("#phone").blur(function(){
        if ($("#phone").val() == '') {
            $('#id_11').text('亲，手机号不能为空哦').css('color', '#E64141');
            checkAll[0] = 0;
        } else {
            if(!(/^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(178)|(18[0,5-9]))\d{8}$/.test($("#phone").val()))) {
                $('#id_11').text('亲，手机号格式不正确哦').css('color', '#E64141');
                 checkAll[0] = 0;
            } else {
                $.post("{:url('mmzh/checkphone')}", {phone:$("#phone").val()}, function(data){
                    if (data.code==0) {
                        $('#id_11').text(data.message).css('color', '#808080');
                        checkAll[0] = 1;
                    } else {
                        $('#id_11').text(data.message).css('color', '#E64141');
                        checkAll[0] = 0;
                    }
                } , 'json');
            }
        }
    })
    //激活码
    $("#pricode").blur(function(){
        if ($("#pricode").val() == '') {
            $('#id_22').text('亲，激活码不能为空哦').css('color', '#E64141');
            checkAll[1] = 0;
        } else {
            $.post("{:url('checkpricode')}", {pricode:$("#pricode").val()}, function(data){
                if (data.code==0) {
                    $('#id_22').text(data.message).css('color', '#808080');
                    checkAll[1] = 1;
                } else {
                    $('#id_22').text(data.message).css('color', '#E64141');
                    checkAll[1] = 0;
                }
            } , 'json');
        }
    })
  function demo()
    {
        if (checkAll[0]!=0 && checkAll[1]!=0) {
                return true;
        }else {
            return false;
        }
    }
</script>
{/block}