{extend name="public/mm" /}
{block name="sy"}
<div class="i_top">
        <h3 class="title">找回帐号密码</h3>
    </div>
    <div class="i_mod">
        <div class="form_mod">
            <ul class="form_list">
                <form action="{:url('setmm')}" onsubmit="return demo();">
                <li class="item">
                    <span class="tit">新密码：</span>
                    <input type="hidden" name="text" value="{$phone}">
                    <input type="password" id="pwd" style="margin-right: 10px" name="password" class="fInput w200" value="" placeholder="请输入你的新密码">
                    <span id="id_11"></span>
                </li>
                <li class="item">
                    <span class="tit">再次输入新密码：</span>
                    <input type="password" id="rpwd" style="margin-right: 10px" name="rpassword" class="fInput w200" value="" placeholder="请再次输入你的新密码">
                    <span id="id_22"></span>
                </li>
                <li class="item">
                    <div class="btn_mod">
                      <button  class="W_btn_big btn btn-default" id="submit_1">立即提交</button>
                    </div>
                </li>
            </form>
            </ul>
        </div>
    </div>
</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    var checkAll = [0, 0];
     //密码
      $("#password").blur(function(){
        if ($("#password").val() == '') {
            $('#id_11').text('亲，密码不能为空哦').css('color', '#E64141');
            checkAll[0] = 0;
        } else {
        	$password = $("#password").val();
            if(preg_match('/^([0-9]{6,16})$/',$password)){
	        	$('#id_11').text('低，你的密码具有风险咯').css('color', '#E64141');
		    }else if(preg_match('/^[0-9 a-z]{6,16}$/',$password)){
		    	 checkAll[0] = 1;
		        $('#id_11').text('中，你的密码可以再复杂点').css('color', '#FFA00A');
		    }else if(preg_match('/^[0-9 a-z A-Z !@#$%^&*]{6,16}$/',$password)){
		    	 checkAll[0] = 1;
		        $('#id_11').text('高，你的密码很安全').css('color', '#22B14C');
		    }
        }
    })
    //激活码
     $("#rpassword").blur(function(){
     	 if ($("#rpassword").val() == '') {
            $('#id_22').text('密码不能为空哦').css('color', '#E64141');
            checkAll[0] = 0;
        } else {
	        	if ($("#rpassword").val() != $("#password").val()) {
	        		$('#id_22').text('两次密码不一致').css('color', '#E64141');
            		checkAll[0] = 0;
        		}else {
        			$('#id_22').text('快点点击注册吧').css('color', '#808080 ');
            		checkAll[0] = 0;
        		}
        }
     })
  function demo()
    {
        if (checkAll[0]!=0 && checkAll[1]!=0) {
                return true;
        }else {
            return false;
        }
    }
</script>
{/block}