{extend name="public/mm" /}
{block name="sy"}
<div class="i_top">
        <h3 class="title">找回帐号密码</h3>
    </div>
    <div class="i_mod">
        <div class="form_mod">
            <ul class="form_list">
                <form action="{:url('czmm')}" onsubmit="return demo();">
                <li class="item">
                    <span class="tit">新密码：</span>
                    <input type="hidden" name="phone" value="{$phone}">
                    <input type="password" id="password" style="margin-right: 10px" name="password" class="fInput w200" value="" >
                    <span id="id_11"></span>
                </li>
                <li class="item">
                    <span class="tit">再次输入新密码：</span>
                    <input type="password" id="rpassword" style="margin-right: 10px" name="rpassword" class="fInput w200" value="">
                    <span id="id_22"></span>
                </li>
                <li class="item">
                    <div class="btn_mod">
                      <button  class="W_btn_big btn btn-default" id="submit_1">立即提交</button>
                    </div>
                </li>
            </form>
            </ul>
        </div>
    </div>
</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    var checkAll = [0, 0];
     //密码
      $("#password").blur(function(){
        if ($("#password").val() == '') {
            $('#id_11').text('亲，密码不能为空哦').css('color', '#E64141');
            checkAll[0] = 0;
        } else {
        	var password = $("#password").val();
            if($("#password").val().length<6){
                checkAll[0] = 0;
	        	$('#id_11').text('* 密码长度不能低于6位').css('color', '#E64141');
		    }else if($("#password").val().length<10){
		    	checkAll[0] = 1;
		        $('#id_11').text('* 中：你的密码可以再复杂点').css('color', '#FFA00A');
		    }else {
		    	checkAll[0] = 1;
		        $('#id_11').text('* 你的密码很安全').css('color', '#22B14C');
		    }
        }
    })
    //激活码
    $("#rpassword").blur(function(){
     	 if ($("#rpassword").val() == '') {
            $('#id_22').text('* 密码不能为空哦').css('color', '#E64141');
            checkAll[1] = 0;
        } else {
	        	if ($("#rpassword").val() != $("#password").val()) {
	        		$('#id_22').text('* 两次密码不一致').css('color', '#E64141');
            		checkAll[1] = 0;
        		}else {
        			$('#id_22').text('* 快点点击注册吧').css('color', '#22B14C');
            		checkAll[1] = 1;
        		}
        }
    })
  function demo()
    {
        if (checkAll[0]!=0 && checkAll[1]!=0) {
                return true;
        }else {
            return false;
        }
    }
</script>
{/block}