<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理中心起始页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<style>html,body{width:100%;height:100%;}</style>
<script src="__JS__/jquery.js"></script>
<script src="__JS__/eject.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body>
<div class="wrap start-page">
 <h1><i class="home-icon"></i>欢迎来到捱写站点管理中心</h1>
 <dl>
  <dt>博文统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>已通过博文数：</span>
     <span>539</span>
    </li>
    <li>
     <span>未通过博文数：</span>
     <span>23</span>
    </li>
    <li>
     <span>审核中博文数</span>
     <span>1282</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>话题信息</dt>
  <dd>
   <ul>
    <li>
     <span>明星类数量：</span>
     <span>128家</span>
    </li>
	 <li>
     <span>段子类类数量：</span>
     <span>128家</span>
    </li>
    <li>
     <span>搞笑类数量</span>
     <span>1252</span>
    </li>
    <li>
     <span>美女类数量：</span>
     <span>13252</span>
    </li>
    <li>
     <span>情感类数量：</span>
     <span>1282.00元</span>
    </li>
    <li>
     <span>社会正能量类数量：</span>
     <span>128家</span>
    </li>
    <li>
     <span>军事类数量</span>
     <span>300家</span>
    </li>
    <li>
     <span>体育类数量</span>
     <span>458家</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>会员统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>所有会员：</span>
     <span>356</span>
    </li>
    <li>
     <span>今日新增会员：</span>
     <span>432</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>访问统计</dt>
  <dd>
   <ul>
    <li>
     <span>今日访问：</span>
     <span>1356</span>
    </li>
    <li>
     <span>当前在线人数：</span>
     <span>98</span>
    </li>
    <li>
     <span>今日留言：</span>
     <span>1</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>系统信息</dt>
  <dd>
   <ul>
    <li>
     <span>服务器操作系统：</span>
     <span>WINNT(127.0.0.1)</span>
    </li>
    <li>
     <span>编写语言:</span>
     <span>php</span>
    </li>
    <li>
     <span>MySQL 版本：</span>
     <span>5.5.20</span>
    </li>
    <li>
     <span>时区设置：</span>
     <span>PRC</span>
    </li>
    <li>
     <span>编码：</span>
     <span>utf8mb4_unicode_ci</span>
    </li>
   </ul>
  </dd>
 </dl>
</div>
</body>
</html>