<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>左侧导航</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body style="background:#313131">
<div class="menu-list">
 <a href="{:url('main/main')}" target="mainCont" class="block menu-list-title center" style="border:none;margin-bottom:8px;color:#fff;">捱写详情</a>
 <ul>
  <li class="menu-list-title">
   <span>审核文章</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('allarticle/order_list')}" title="商品列表" target="mainCont">所有文章列表请审核</a></li>
	<li><a href="{:url('allarticle/product_list')}" title="商品列表" target="mainCont">已经审核文章列表</a></li>
   </ul>
  </li>
 
  <li class="menu-list-title">
   <span>话题管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('alltopic/product_category')}" title="商品分类" target="mainCont">话题列表</a></li>
   </ul>
  </li>
  
  <li class="menu-list-title">
   <span>用户管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('user/user_list')}?member=0" title="用户列表" target="mainCont">用户列表</a></li>
    <li><a href="{:url('user/user_message')}?member=0" title="用户留言" target="mainCont">用户留言</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>会员管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('user/user_list')}?member=1" title="会员列表" target="mainCont">会员列表</a></li>
    <li><a href="{:url('user/user_message')}?member=1" title="会员留言" target="mainCont">会员留言</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>管理员管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('alladmin/admin_list')}" title="会员列表" target="mainCont">管理员列表</a></li>
    <li><a href="{:url('alladmin/add_admin')}" title="添加会员" target="mainCont">添加管理员</a></li>
    <li><a href="{:url('alladmin/admin_message')}" title="会员留言" target="mainCont">管理员留言</a></li>
   </ul>
  </li>
  <li class="menu-list-title">
   <span>系统设置</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('website/basic_settings')}" title="站点基本设置" target="mainCont">站点基本设置</a></li>
   <!--  <li><a href="{:url('website/revise_password')}" title="站点基本设置" target="mainCont">管理员密码修改</a></li> -->
	</ul>
  </li>
  
  <li class="menu-list-title">
   <span>广告管理</span>
   <i>◢</i>
  </li>
  <li>
   <ul class="menu-children">
    <li><a href="{:url('alladvertise/advertising_list')}" title="站点基本设置" target="mainCont">广告列表</a></li>
   </ul>
  </li>
    
 </ul>
</div>
</body>
</html>