<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>后台管理中心起始页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<style>html,body{width:100%;height:100%;}</style>
<script src="__JS__/jquery.js"></script>
<script src="__JS__/eject.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body>
<div class="wrap start-page">
 <h1><i class="home-icon"></i>欢迎来到捱写站点管理中心</h1>
 <dl>
  <dt>博文统计信息</dt>
  <dd>
   <ul>
    <li>
     <span>已通过博文数：</span>
     <span>{$status0}</span>
    </li>
    <li>
     <span>未通过博文数：</span>
     <span>{$status1}</span>
    </li>
    <li>
     <span>审核中博文数:</span>
     <span>{$status2}</span>
    </li>
	 <li>
     <span>通过并推荐博文数:</span>
     <span>{$status3}</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>话题对应的文章数</dt>
  <dd>
   <ul>
   {foreach $topicCount as $vo}
    <li>
     <span>{$vo.tname}：</span>
     <span>{$vo.artcount}</span>
    </li>
	{/foreach}
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>会员和普通用户信息</dt>
  <dd>
   <ul>
    <li>
     <span>会员总数：</span>
     <span>{$member1}</span>
    </li>
	 <li>
     <span>普通用户总数：</span>
     <span>{$member0}</span>
    </li>
    <li>
     <span>今日新增会员数：</span>
     <span>{$newmember1['Daymember']}</span>
    </li>
	    <li>
     <span>当前月新增会员数：</span>
     <span>{$newmember1['Monthmember']}</span>
    </li>
	 <li>
     <span>今日新增普通用户数：</span>
     <span>{$newmember0['Daymember']}</span>
    </li>
	<li>
     <span>当前月新增普通用户数：</span>
     <span>{$newmember0['Monthmember']}</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>留言统计</dt>
  <dd>
   <ul>
    <!-- <li> -->
     <!-- <span>今日访问：</span> -->
     <!-- <span>1356</span> -->
    <!-- </li> -->
    <!-- <li> -->
     <!-- <span>当前在线人数：</span> -->
     <!-- <span>98</span> -->
    <!-- </li> -->
    <li>
     <span>普通用户留言：</span>
     <span>{$message0}</span>
    </li>
	 <li>
     <span>会员留言：</span>
     <span>{$message1}</span>
    </li>
   </ul>
  </dd>
 </dl>
 
 <dl>
  <dt>系统信息</dt>
  <dd>
   <ul>
    <li>
     <span>服务器操作系统：</span>
     <span>WINNT(127.0.0.1)</span>
    </li>
    <li>
     <span>编写语言:</span>
     <span>php</span>
    </li>
    <li>
     <span>MySQL 版本：</span>
     <span>5.5.20</span>
    </li>
    <li>
     <span>时区设置：</span>
     <span>PRC</span>
    </li>
    <li>
     <span>编码：</span>
     <span>utf8mb4_unicode_ci</span>
    </li>
   </ul>
  </dd>
 </dl>
</div>
</body>
</html>