	{extend name="public/reg" /}
	{block name="regcontent"}
	<form action="{:url('checkreg')}" onsubmit="return demo();">
		<div class="W_reg_info clearfix" id="pl_account_regmail">
            <div class="W_reg_form">
                <div class="info_list clearfix">
                    <div class="tit"><span class="mail_ico"></span><i>*</i>邮箱：</div>
					
                    <div class="inp">
                    	<input node-type="email" action-data="text=请输入您的常用邮箱" id="email" action-type="text_copy" name="email" type="text" class="W_input" style="margin-right:20px" value="" autocomplete="off" />
                        <span id="id_1" style="color:#808080">亲,填写的邮箱将作为用户名哟</span>
						<div class="attachment">或使用<a href="{:url('regphone')}">手机注册</a></div>
                    </div>
                </div>
                <div class="info_list clearfix">
                    <div class="tit"><i>*</i>设置密码：</div>
                    <div class="inp">
                        <input node-type="password" action-data="" id="password" action-type="text_copy" name="password" type="password" class="W_input" value="" />
                    </div>
                    <div node-type="password_tip" class="tips"></div>
                </div>
                <input type="hidden" name="c" value=""/>
                <div class="info_list clearfix verify_bar">
                    <div class="tit"><i>*</i>验证码：</div>
                    <div class="inp">
                        <input node-type="verifycodereg" name="code" id="code" type="text" class="W_input" value="" maxlength="4" />
                        <img src="{:captcha_src()}" id="img" onclick="this.src = this.src" style="margin-right:20px" alt="captcha" />	
						<span id="id_2" ></span>
                    </div>
                </div>                         
		{/block}			
