<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>会员留言</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>管理留言</em></span>
	 <span class="modular fr"><a href="{:url('alladmin/add_message')}" class="pt-link-btn">+添加新留言</a></span>
  </div>
   <div class="operate">
   <form action="{:url('alladmin/admin_message')}" method="post">
    <input type="text"  name="like" class="textBox length-long" placeholder="输入管理员id"/>
    <input type="submit" value="查询" class="tdBtn"/>
   </form>
 </div>
</div>
  <table class="list-style Interlaced">
   <tr>
     <th>用户的id</th>
     <th>留言时间</th>
     <th>留言内容</th>
   </tr>
   {foreach $list as $vo}
	   <tr>
		<td class="center">{$vo.adminid}</td>
		<td class="center">{$vo.senttime}</td>
		<td width="600">
		 {$vo.messcontent}
		</td>
		<!-- <td class="center"> -->
		 <!-- <a href="" class="inline-block" title="回复">处理</a> -->
		<!-- </td> -->
	   </tr>
	{/foreach}
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
	  <!-- turn page -->
	  <div class="turnPage center fr">
	   {$page|default="就一页数据哦"}
	  </div>
  </div>
 </div>
</body>
</html>