<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理员权限</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>管理员姓名:{$adminname}</em></span>
    <span class="modular fr"><a href="{:url('alladmin/add_admin_rank')}?adminid={$adminid}&adminname={$adminname}" class="pt-link-btn">操作管理员的权限</a></span>
  </div>
  <table class="list-style Interlaced">
   <tr>
    <th>管理员权限角色名称</th>
    <th>管理员权限角色功能</th>
   </tr>
   <tr>
    <td class="center"><img src="__IMG__/user_02.png"/>
	{foreach $adminrole as $vo}
		{$vo.rolename},
	{/foreach}
	</td>
    <td class="center">
	{foreach $rolePer as $vo}
		{foreach $vo as $vo1}
			{$vo1.pname},
		{/foreach}
	{/foreach}
	</td>
   </tr>
  </table>
 </div>
</body>
</html>