<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>用户列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__CSS__/adminStyle.css" rel="stylesheet" type="text/css" />
<script src="__JS__/jquery.js"></script>
<script src="__JS__/public.js"></script>
</head>
<body>
 <div class="wrap">
  <div class="page-title">
    <span class="modular fl"><i class="user"></i><em>管理员列表</em></span>
  </div>
  <table class="list-style Interlaced">
   <tr>
     <th>编号</th>
     <th>管理员昵称</th>
     <th>手机号码</th>
     <th>邮箱</th>
     <th>添加日期</th>
     <th>最近登陆时间</th>
	 <th>权限详情</th>
   </tr>
  {foreach $list as $vo}
	   <tr>
		<td class="center">{$vo.adminid}</td>
		<td class="center">{$vo.adminname}</td>
		<td class="center">{$vo.admintel}</td>
		<td class="center">{$vo.adminemail}</td>
		<td class="center">{$vo.addtime}</td>
		<td class="center">{$vo.lasttime|date="y-m-d h:i:s",###}</td>
		 <td class="center">
     <a href="{:url('alladmin/admin_rank')}?adminid={$vo.adminid}&adminname={$vo.adminname}" class="block">
      <img src="__IMG__/icon_drop.gif"/>
     </a>
    </td>
	   </tr>
  {/foreach}
  </table>
  <!-- BatchOperation -->
  <div style="overflow:hidden;">
      <!-- Operation -->
	  <!-- turn page -->
	  <div class="turnPage center fr">
	  </div>
  </div>
 </div>
</body>
</html>