   {extend name="public/header" /}
    {block name="content"}
        <!-- Column 3 -->
        <div class="col3">
        	<h3 class="heading">About Us</h3>
            <div class="static">
            	<h1 class="tphead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit</h1>
                <p class="txt">
                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibulum in, volutpat eget, dapibus ac, lectus. Curabitur dolor sapien, hendrerit non, suscipit bibendum, auctor ac, arcu. Vestibulum dapibus. Sed pede lacus, pretium in, condimentum sit amet, mollis dapibus, magna. Ut bibendum dolor nec augue. Ut tempus luctus metus. Sed a velit. Pellentesque at libero elementum ante condimentum sollicitudin. Pellentesque lorem ipsum, semper quis, interdum et, sollicitudin eu, purus. Vivamus fringilla ipsum vel orci. Phasellus vitae massa at massa pulvinar pellentesque. Fusce tincidunt libero vitae odio. Donec malesuada diam nec mi.
                </p>
                <br /><br /><br />
                <div class="sec1">
                	<h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <div class="sec2">
                	<h3>Heading 2</h3>
                    <p>
                    	<a href="#" class="black under">Vivamus tortor nisl</a>, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                    </p>
                    <h3>Heading 2</h3>
                    <p>
                    	Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam. Pellentesque consequat luctus purus. Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi. Vestibulum sapien dolor, aliquet nec, porta ac, malesuada a, libero. Praesent feugiat purus eget est. Nulla facilisi. Vestibulum tincidunt sapien eu velit. Mauris purus. Maecenas eget mauris eu orci accumsan feugiat. Pellentesque eget velit. Nunc tincidunt. 
                    </p>
                </div>
                <div class="sec3">
                    <p>
                    	Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper. Phasellus id massa. Pellentesque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc augue. Aenean sed justo non leo vehicula laoreet. Praesent ipsum libero, auctor ac, tempus nec, tempor nec, justo. 
                    </p>
                    <p>
                    	Maecenas ullamcorper, odio vel tempus egestas, dui orci faucibus orci, sit amet aliquet lectus dolor et quam. Pellentesque consequat luctus purus. Nunc et risus. Etiam a nibh. Phasellus dignissim metus eget nisi. Vestibulum sapien dolor, aliquet nec, porta ac, malesuada a, libero. Praesent feugiat purus eget est. Nulla facilisi. Vestibulum tincidunt sapien eu velit. Mauris purus. Maecenas eget mauris eu orci accumsan feugiat. Pellentesque eget velit. Nunc tincidunt.
                    </p>
                </div>
                <div class="clear"></div>
                <div class="bottomsections">
                	<div class="sec1">
                    	<p>
                        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis. Nulla nec velit. Mauris pulvinar erat non massa. Suspendisse tortor turpis, porta nec, tempus vitaeculis semper, pede.
                        </p>
                        <p>
                        	Cras vel libero id lectus rhoncus porta. Suspendisse convallis felis ac enim. Vivamus tortor nisl, lobortis in, faucibus et, tempus at, dui. Nunc risus. Proin scelerisque augue. Nam ullamcorper
                        </p>
                    </div>
                    <div class="sec2">
                    	<img src="images/static1.gif" class="staticborder" alt="" />
                        <div class="clear"></div>
                        <br />
                        <p>
                        	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi luctus. Duis lobortis. Nulla nec velit. Mauris pulvinar erat non massa. Suspendisse tortor turpis, porta nec, tempus vitaeculis semper, pede.
                        </p>
                    </div>
                    <div class="sec3">
                    	<ul class="numbrs">
                        	<li>Lorem ipsum dolor sit amet, consectetuer</li>
                            <li>Morbi luctus. Duis lobortis. Nulla nec velit.</li>
                            <li>Mauris pulvinar erat non massa. Suspendisse</li>
                            <li>Turpis, porta nec, tempus vitae, iaculis semper,</li>
                            <li>Cras vel libero id lectus rhoncus porta. Sus</li>
                            <li>Lorem ipsum dolor sit amet, consectetuer </li>
                            <li>Morbi luctus. Duis lobortis. Nulla nec velit.</li>
                            <li>Mauris pulvinar erat non massa. Suspendisse </li>
                            <li>Turpis, porta nec, tempus vitae, iaculis semper</li>
                            <li>Cras vel libero id lectus rhoncus porta. Sus</li>
                        </ul>
                    </div>
                </div>
                <p class="txt">
                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibulum in, volutpat eget, dapibus ac, lectus. Curabitur dolor sapien, hendrerit non, suscipit bibendum, auctor ac, arcu. Vestibulum dapibus. Sed pede lacus, pretium in, condimentum sit amet, mollis dapibus, magna. Ut bibendum dolor nec augue. Ut tempus luctus metus. Sed a velit. Pellentesque at libero elementum ante condimentum sollicitudin. Pellentesque lorem ipsum, semper quis, interdum et, sollicitudin eu, purus. Vivamus fringilla ipsum vel orci. Phasellus vitae massa at massa pulvinar pellentesque. Fusce tincidunt libero vitae odio. Donec malesuada diam nec mi. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
{/block}