<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>捱写/一句话的事情，一篇文章的故事！</title>
<!--// Stylesheets //-->
<style type="text/css">
	</style>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/scrollbar.css" rel="stylesheet" type="text/css" />
<!--// Javascript //-->
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/ddsmoothmenu.js"></script>
<script type="text/javascript" src="__JS__/menu.js"></script>
<script type="text/javascript" src="__JS__/contentslider.js"></script>
<script type="text/javascript" src="__JS__/jquery.1.4.2.js"></script>
<script type="text/javascript" src="__JS__/jquery.lint.js"></script>
<script type="text/javascript" src="__JS__/jquery.scroll.js"></script>
<script type="text/javascript" src="__JS__/scroll.js"></script>
<script type="text/javascript" src="__JS__/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__JS__/switch.js"></script>
<script type="text/javascript" src="__JS__/tabs.js"></script>
<script type="text/javascript" src="__JS__/cufon-yui.js"></script>
<script type="text/javascript" src="__JS__/cufon.js"></script>
<script type="text/javascript" src="__JS__/font.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
        window.onload = function(){
            var oXi = document.getElementById('xiding');
            oXioffsetTop = oXi.offsetTop;//当前元素距离顶部的偏移量
            console.log(oXioffsetTop);
            window.onscroll = function() {
                console.log(document.body.scrollTop);
                if (oXioffsetTop <= document.body.scrollTop) {
                    oXi.style.position = 'fixed';
                } else {
                    oXi.style.position = '';
                }
                
            }
        }
</script>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper_sec">
<!-- 吸顶条头部 -->
<div style="height: 89px;border-bottom:1px solid #373D41;">
<div id="xiding" style="height:89px;background-color: #DCDCF0;border-bottom:1px solid #373D41;z-index: 999;">
	<!-- Top Section -->
    <div class="top_sec">
    	<!-- Top Section Left Links -->
        <div class="toplinks">
        	<ul>
            	<li class="first"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <!-- Top Section right Links -->
        <div class="links_icons">
        	<ul>
            	{if $islog ==0}
                    <li><a href="{:url('index/index')}" class="index">首页</a></li>
                    <li><a href="{:url('log/log')}" class="user">登录</a></li>
                    <li><a href="{:url('user/regmail')}" class="message">注册</a></li>
                    <li><a href="{:url('mmzh/mmzh')}" class="exit">找回密码</a></li>
                {else}
                    <li><a href="{:url('index/index')}" class="index">首页</a></li>
                    <li><a href="{:url('blog/blog')}" class="user">{$data['uname']}</a></li>
                    <li><a href="{:url('user/regmail')}" class="message">消息</a></li>
                    <li><a href="{:url('index/exit')}" class="exit">退出登录</a></li>
                {/if}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Header -->
    <div id="masthead">
    	<!-- Logo -->
        <div class="logo">
        	<a href="{url:('index')}"><img src="__IMG__/aixie.png" style="height: 60px"/></a>
        </div>
        <!-- Navigation -->
        <div class="navigation">
        	<div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                    <li><a href="{:url('index')}" class="staticlinks">首页</a></li>
                    <li><a href="{:url('listing/listing')}" class="staticlinks">发现</a></li>
                    <li><a href="{:url('news/news')}" class="staticlinks">最新新闻</a></li>
                    {if $islog ==1}
                    <li><a href="{:url('blog/blog')}" >个人中心</a>
                    {/if}
                    </li>
                    <li><a href="#">话题</a>
                    	<ul>
                            {if !empty($topic)}
                            {foreach $topic as $value}
                            <li><a id="tname" href="">{$value['tname']}</a></li>
                            {/foreach}
                            {/if}
                      	</ul>
                    </li>
                </ul>
            	<div class="clear"></div>
            </div>
        </div>
	<form action="{}">
        <div class="search">
        	<input type="text" value="输入你要搜素的内容或者标题" id="searchBox" name="like" onblur="if(this.value == '') { this.value = '输入你要搜素的内容或者标题'; }" onfocus="if(this.value == '输入你要搜素的内容或者标题') { this.value = ''; }" class="bar" />
            <a href="#" class="go">&nbsp;</a>
        </div>
    </div>
</div>
   <!--  吸顶条尾部 -->
</div>
    <div class="clear"></div>
    <!-- Banner -->
    <div id="banner">
    	<div id="slider2" class="leftsecbanner">
            <div class="contentdiv">
                <object type="application/x-shockwave-flash" style="width:660px; height:348px;" data="http://t.cn/RWCUiTQ">
                	<param name="movie" value="http://t.cn/RWCUiTQ" />
                	<param value="application/x-shockwave-flash" name="type" /> 
                    <param value="true" name="allowfullscreen" /> 
                    <param value="always" name="allowscriptaccess" /> 
                    <param value="opaque" name="wmode" />
                </object>
            </div>
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
        <div id="paginate-slider2">
        	<div class="usual">
                <ul class="idTabs">
                  <li><a href="#idTab1" class="selected"><span>新鲜事</span></a></li>
                  <li><a href="#idTab2"><span>时实热点</span></a></li>
                  <li><a href="#idTab3"><span>热门段子</span></a></li>
                </ul>
                <div id="idTab1" class="tabssection">
                    <div class="css-scrollbar simple">
                        <a href="#" class="toc">
                            <span class="thumb"><img src="__IMG__/video_small5.gif" alt="" /></span>
                            <span class="desc">
                                <span class="title">Tonight (I'm Lovin' You)</span>
                                <span class="time">04:59</span>
                                <span class="channel">Enrique Iglesias</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div id="idTab2" class="tabssection">
                    <div class="css-scrollbar simple">
                        <a href="#" class="toc">
                            <span class="thumb"><img src="__IMG__/video_small4.gif" alt="" /></span>
                            <span class="desc">
                                <span class="title">Rihanna - Only Girl (In The World) </span>
                                <span class="time">04:11</span>
                                <span class="channel">RihannaVEVO</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div id="idTab3" class="tabssection">
                    <div class="css-scrollbar simple">
                        <a href="#" class="toc">
                            <span class="thumb"><img src="__IMG__/video_small3.gif" alt="" /></span>
                            <span class="desc">
                                <span class="title">ENRIQUE IGLESIAS - Bailamos </span>
                                <span class="time">03:52</span>
                                <span class="channel">Enrique Iglesias</span>
                            </span>
                        </a>
                    </div>
                </div>
          	</div>
			<div class="clear"></div>
        </div>
        <script type="text/javascript" src="__JS__/banner.js"></script>
    </div>
    <div class="clear"></div>
    <!-- Content Section -->
    <div id="content_sec" style="height:0">
    	<!-- Column 1 -->
       
        <div class="col1">
        	<!-- Featured Playlist -->
        
            <!-- Recent Videos -->
        </div>
        <script type="text/javascript">
            window.onload = function(){
                var num = 0;
                 createArt();
                function createArt(){
                    $.post("{:url('index/status0Art')}",{limit:num},function(data){
                        if(data == 1){
                            window.onscroll = null;
                        }else{
                            $('.col1').append(data);
                            num += 6;
                            console.log(num);
                        }  
                    },'json');
                }
                $(window).scroll(function(){
　　                   var scrollTop = $(this).scrollTop();
　　                   var scrollHeight = $(document).height();
　　                   var windowHeight = $(this).height();
　　                   if(scrollTop + windowHeight == scrollHeight){
                             createArt();   
　　                      }
                      });
            };
           
        </script>
        <!-- Column 2 -->
        <div class="col2">
        	<!-- Advertisment -->
        	<div class="adv">
				<a style="color:red">小广告</a>
            	
            </div>
            <div class="clear"></div>
            <!-- Tabs -->
            <div class="tabs">
            	<div class="tab_menu_container">
                    <ul id="tab_menu">  
                        <li><a class="current" rel="tab_sidebar_recent">军事</a></li>
                        <li><a class="" rel="tab_sidebar_comments">体育</a></li>
                        <li><a class="" rel="tab_sidebar_tags">动漫</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
                <div class="tab_container">
                    <div class="tab_container_in">
                        <!-- Recent --> 
                        <div style="display: none;" id="tab_sidebar_recent" class="tab_sidebar_list">		<span style="color:red">便利模块一</span>			
                        	<ul class="videolist">
                            	<li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                            </ul>			
                        </div> 
                        <!-- END -->
                        <!-- Top Rated -->
                        <div style="display: none;" id="tab_sidebar_comments" class="tab_sidebar_list"> 
							<span style="color:red">便利模块二</span>
                            <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <!-- END -->
                        <!-- Most Commented -->
                        <div style="display: none;" id="tab_sidebar_tags" class="tab_sidebar_list"> 
                           <span style="color:red">便利模块三</span>
						   <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!-- Categories -->
            <div class="categories">
            	<h5>menu</h5>
                <ul>
                	<li><a href="#" class="colr">活动</a></li>
                    <li><a href="#" class="colr">艺术</a></li> 
                    <li><a href="#" class="colr">食物</a></li>
                    <li><a href="#" class="colr">游戏</a></li>
                    <li><a href="#" class="colr">音乐</a></li>
                    <li><a href="#" class="colr">环境</a></li>
                    <li><a href="#" class="colr">交通</a></li>
                    <li><a href="#" class="colr">书城</a></li>
                    <li><a href="#" class="colr">友谊二手汽车</a></li>
					 <li><a href="#" class="colr">娱乐电视节目</a></li>
                </ul>
                <ul>
                	<li><a href="#" class="colr">动物</a></li>
                    <li><a href="#" class="colr">交流</a></li>
                    <li><a href="#" class="colr">家庭</a></li>
                    <li><a href="#" class="colr">搞笑视频</a></li>
                    <li><a href="#" class="colr">健康</a></li>
                    <li><a href="#" class="colr">微电影</a></li>
                    <li><a href="#" class="colr">新闻</a></li>
                    <li><a href="#" class="colr">产品</a></li>
                    <li><a href="#" class="colr">运动</a></li>
                    <li><a href="#" class="colr">旅游</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <!-- Top Searches -->
            <div class="topsearches">
            	<h5>Top</h5>
                <ul>
                	<li><a href="#" class="colr">Anne Roumanoff</a></li>
                    <li><a href="#" class="colr">Caméra caché</a></li>
                    <li><a href="#" class="colr">Cauet</a></li>
                    <li><a href="#" class="colr">Eric et Ramzy</a></li>
                    <li><a href="#" class="colr">Florence</a></li>
                    <li><a href="#" class="colr">Foresti</a></li>
                    <li><a href="#" class="colr">Franck Dubosc</a></li>
                    <li><a href="#" class="colr">Francois</a></li>
                    <li><a href="#" class="colr">Damiens</a></li>
                    <li><a href="#" class="colr">Anthony</a></li>
                    <li><a href="#" class="colr">Kavanagh</a></li>
                    <li><a href="#" class="colr">Jamel</a></li>
                    <li><a href="#" class="colr">Debbouze</a></li>
                    <li><a href="#" class="colr">Laurent</a></li>
                    <li><a href="#" class="colr">Ruquier</a></li>
                    <li><a href="#" class="colr">Les Nuls</a></li>
                    <li><a href="#" class="colr">Michaël Youn</a></li>
                    <li><a href="#" class="colr">Omar et Fred</a></li>
                    <li><a href="#" class="colr">Patrick Timsit</a></li>
                    <li><a href="#" class="colr">Rémi Gaillard</a></li>
                    <li><a href="#" class="colr">Gad ElMaleh</a></li>
                    <li><a href="#" class="colr">Stéphane Guillon</a></li>
                    <li><a href="#" class="colr">TF1 Replay</a></li>
                    <li><a href="#" class="colr">chatroulette</a></li>
                </ul>
                <a href="#" class="buttonone"><span>工作别忘长回家看看</span></a>
                <a href="#" class="buttonone"><span>关爱关注山区儿童</span></a>
            </div>
        </div>
	
    	<div class="featured_playlist">
               <div class="heading" style="color:red">友情赞助商</div>
                   <ul>
                    <li>
                        <a href="#" class="channellogo"><img src="__IMG__/channel_icon1.gif" alt="" /></a>
                           <div class="desc">
                            <h6>from</h6>
                               <a href="http://www.baidu.com" class="colr">百度一下</a>
                           </div>
                     </li>
                     <li>
                        <a href="#" class="channellogo"><img src="__IMG__/channel_icon2.gif" alt="" /></a>
                           <div class="desc">
    							<h6>from</h6>
                                <a href="https://www.1688.com/" class="colr">阿里巴巴</a>
                        </div>
                    </li>
             </ul>
        </div>

<div class="clear"></div>
<!-- Footer -->
<div id="copyrights">
    <div class="inner">
        <p>Copyright © 2013 VidSea. All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        
    </div>
</div>
<div class="clear"></div>

</body>
</html>


