<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>捱写/一句话的事情，一篇文章的故事！</title>
<!--// Stylesheets //-->
<style type="text/css">
	</style>
<link href="__CSS__/style.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/scrollbar.css" rel="stylesheet" type="text/css" />
<!--// Javascript //-->
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/ddsmoothmenu.js"></script>
<script type="text/javascript" src="__JS__/menu.js"></script>
<script type="text/javascript" src="__JS__/contentslider.js"></script>
<script type="text/javascript" src="__JS__/jquery.1.4.2.js"></script>
<script type="text/javascript" src="__JS__/jquery.lint.js"></script>
<script type="text/javascript" src="__JS__/jquery.scroll.js"></script>
<script type="text/javascript" src="__JS__/scroll.js"></script>
<script type="text/javascript" src="__JS__/jquery.idTabs.min.js"></script>
<script type="text/javascript" src="__JS__/switch.js"></script>
<script type="text/javascript" src="__JS__/tabs.js"></script>
<script type="text/javascript" src="__JS__/cufon-yui.js"></script>
<script type="text/javascript" src="__JS__/cufon.js"></script>
<script type="text/javascript" src="__JS__/font.js"></script>
<script type="text/javascript" src="__JS__/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
</script>
<style type="text/css">
		*{margin:0;padding:0}
		.box{
			width: 600px;
			border: 1px solid white;
			height: 350px;
			margin:0px auto;
			position: relative;
			overflow: hidden;
		}
		.ctrl{
			width:30px;
			height:30px;
			font-size: 30px;
			color:gray;
			background: none;
			border: none;
			position: absolute;
			top:40%;
			cursor: pointer;
			z-index:5; 
			outline: none;
		}
		.next{
			right:0;
		}
		.img{
			width: 600px;
			height: 350px;
			float: left;
		}
		.content{
			width: 3000px;
			height:400px;
			position: relative;
			left: -600px;
		}
		.dot{
			width:100%;
			height:20px;
			/*border: 1px solid green;*/
			position: absolute;
			bottom: 0px;
			text-align: center;
		}
		.dot div{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid white;
			display: inline-block;
		}
		.selected{
			background: red;
		}
	</style>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper_sec">
<!-- 吸顶条头部 -->
<div style="height: 89px;">
<div id="xiding" style="height:89px;z-index: 999;">
	<!-- Top Section -->
    <div class="top_sec">
    	<!-- Top Section Left Links -->
        <div class="toplinks">
        	<ul>
            	<li class="first"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <!-- Top Section right Links -->
        <div class="links_icons">
			<ul>
				<li>
				<form action="{:url('index/index')}" method="post">
					<div>
						<input type="text" value="输入你要搜素的内容或者标题" name="like" onblur="if(this.value == '') { this.value = '输入你要搜素的内容或者标题'; }" onfocus="if(this.value == '输入你要搜素的内容或者标题') { this.value = ''; }"/>
						<button>发 现</button>
					</div>
				</form>	
						
                
				</li>
            	{if $islog ==0}
                    <li><a href="{:url('index/index')}" class="index">首页</a></li>
                    <li><a href="{:url('log/log')}" class="user">登录</a></li>
                    <li><a href="{:url('user/regmail')}" class="message">注册</a></li>
                    <li><a href="{:url('mmzh/mmzh')}" class="exit">找回密码</a></li>
                {else}
                    <li><a href="{:url('index/index')}" class="index">首页</a></li>
                    <li><a href="{:url('blog/blog')}" class="user">{$data['uname']}</a></li>
                    <li><a href="{:url('user/regmail')}" class="message">消息</a></li>
                    <li><a href="{:url('index/exit')}" class="exit">退出登录</a></li>
                {/if}
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Header -->
    <div id="masthead">
    	<!-- Logo -->
        <div class="logo">
        	<a href="{url:('index')}"><img src="__IMG__/aixie.png" style="height: 60px"/></a>
        </div>
        <!-- Navigation -->
        <div class="navigation">
        	<div id="smoothmenu1" class="ddsmoothmenu">
                <ul>
                    {if $islog ==1}
                    <li><a href="{:url('blog/blog')}" >个人中心</a></li>
                    {/if}
                    	
                      {if !empty($topic)}
                        {foreach $topic as $value}
                     <li><a href="{:url('index/index')}?tid={$value['tid']}">{$value['tname']}</a></li>
                           {/foreach}
                       {/if}  
				</ul>  
				
            	<div class="clear"></div>
            </div>
        </div>
    </div>
</div>
   <!--  吸顶条尾部 -->
</div>

    <!-- Banner -->
    
    	<div id="slider2" class="leftsecbanner" style="width:600px;height:350px">
			<div class='box'>
				<button class="ctrl pre"><</button>
				<button class="ctrl next">></button>
				<div class="content">
					{foreach $adverOrder.moreImage as $k => $v}
							{foreach $adverOrder.moreUrl as $ke => $va}
								{if($ke == $k)}
									<a href="{$va}" class="url" target="_blank"><img class="img" src="__UPLOAD__{$v}">
									</a>
								{/if}
							{/foreach}
					{/foreach}
						
				
				</div>
				<div class="dot">
		
				</div>
			</div>
	<script type="text/javascript">
	for(var i = 0; i < $('.img').length; i++) {
		if (i) {
			$('<div></div>').appendTo($('.dot'));
		} else {
			$('<div></div>').addClass('selected').appendTo($('.dot'));
		}
		
	} 
	var key = 0;
	$('.box').hover(
		function(){
			$('.ctrl').show();
		},function(){
			$('.ctrl').hide();
	});
	$('.pre').click(function(){
		$('.content').animate({left:'+=600px'},'slow','swing',function(){
			$('.content').prepend($('.url:last'));
			$('.url:last').prepend($('.img:last'));
			$('.content').css('left','-600px');
			if (--key == -1) {
				key = $('.img').length - 1;
			}
			$('.dot div').eq(key).addClass('selected').siblings().removeClass('selected');
		})
	})
	$('.next').click(function(){
		$('.content').animate({left:'-=600px'},'slow','swing',function(){
			$('.content').append($('.url:first'));
			$('.url:first').append($('.img:first'));
			$('.content').css('left','-600px');
		})
		if (++key == $('.img').length) {
			key = 0;
		}
		$('.dot div').eq(key).addClass('selected').siblings().removeClass('selected');
	})
	var timer = setInterval(function(){
			$('.content').animate({left:'-=600px'},'slow','swing',function(){
			$('.content').append($('.url:first'));
			$('.url:first').append($('.img:first'));
			$('.content').css('left','-600px');
		})
		if (++key == $('.img').length) {
			key = 0;
		}
		$('.dot div').eq(key).addClass('selected').siblings().removeClass('selected');
		},2000);
	
	</script>
	
        </div>
        <div id="paginate-slider2">
        
          
              
             
          </div>
     
    <!-- Content Section -->
 
    	<!-- Column 1 -->
       {if !empty($result)}
			<div class="col1">
					
<div class="blog">
                <ul class="bloglisting">
                    {foreach $result as $value}
                    <li>
                         <div class="desc">
                            <a href="{:url('blog/blog',['uid'=>$value['uid']])}" style="display: block;float: left;"><img src="{$value['uimage']}" style="width: 35px"></a>
                            <a href="{:url('blog/blog',['uid'=>$value['uid']])}" class="articleuser">{$value['uname']}</a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="biaoti">{$value['atitle']}</a> 
                            
                            
                            <p class="time">{$value['pubtime']}</p>
                            <a class="comments_bubble" href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}">阅读{$value['readcount']}</a>
                            <p class="txt">
                                {$value['acontent']}
                            </p>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="colr readmore zhuanfa">{$value['copy']}</a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="colr readmore pinglun">{$value['reply']}</a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="colr readmore zan">{$value['favour']}</a>
                        </div>
                    </li>
                    {/foreach}

                </ul>
                <!-- Pagination -->
</div>
			</div>
	   {else}
        <div class="col1" id="col2">
        	<!-- Featured Playlist -->
        
            <!-- Recent Videos -->
        </div>
		{/if}
		
        <script type="text/javascript">
           
			//吸顶条头部
				var oXi = document.getElementById('xiding');
            oXioffsetTop = oXi.offsetTop;//当前元素距离顶部的偏移量
            console.log(oXioffsetTop);
            window.onscroll = function() {
                console.log(document.body.scrollTop);
                if (oXioffsetTop <= document.body.scrollTop) {
                    oXi.style.position = 'fixed';
                } else {
                    oXi.style.position = '';
                }
                
            }
			
			
			
			
			
			//瀑布流
                var num = 0;
                 createArt();
                function createArt(){
                    $.post("{:url('index/status0Art')}",{limit:num},function(data){
                        if(data == 1){
                            window.onscroll = null;
                        }else{
                            $('#col2').append(data);
                            num += 6;
                        }  
                    },'json');
                }
                $(window).scroll(function(){
　　                   var scrollTop = $(this).scrollTop();
　　                   var scrollHeight = $(document).height();
　　                   var windowHeight = $(this).height();
　　                   if(scrollTop + windowHeight == scrollHeight){
                             createArt();   
　　                      }
                      });
           
           
        </script>
        <!-- Column 2 -->
        <div class="col2">
        	<!-- Advertisment -->
        	<div class="adv">
				<a style="color:red">小广告</a>
            	
            </div>
            <div class="clear"></div>
            <!-- Tabs -->
            <div class="tabs">
            	<div class="tab_menu_container">
                    <ul id="tab_menu">  
                        <li><a class="current" rel="tab_sidebar_recent">军事</a></li>
                        <li><a class="" rel="tab_sidebar_comments">体育</a></li>
                        <li><a class="" rel="tab_sidebar_tags">动漫</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
                <div class="tab_container">
                    <div class="tab_container_in">
                        <!-- Recent --> 
                        <div style="display: none;" id="tab_sidebar_recent" class="tab_sidebar_list">		<span style="color:red">便利模块一</span>			
                        	<ul class="videolist">
                            	<li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                            </ul>			
                        </div> 
                        <!-- END -->
                        <!-- Top Rated -->
                        <div style="display: none;" id="tab_sidebar_comments" class="tab_sidebar_list"> 
							<span style="color:red">便利模块二</span>
                            <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <!-- END -->
                        <!-- Most Commented -->
                        <div style="display: none;" id="tab_sidebar_tags" class="tab_sidebar_list"> 
                           <span style="color:red">便利模块三</span>
						   <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="__IMG__/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!-- Categories -->
            <div class="categories">
				<span>享受生活板块</span>
				<div id="smoothmenu1" class="ddsmoothmenu">
					{foreach $data as $value}
					<ul>
						{if $value.pid == 0}
						<li style="width:80px"><a>{$value.name}</a>
						<ul style="width:75px">	
							{foreach $data as $vo}
								{if $vo.pid == $value.id}
										
										<li><a style="width:60px" href="{$vo.url}">{$vo.name}</a></li>
									
								{/if}
							{/foreach}
							</ul>
						</li>
						{/if}
					</ul>
				{/foreach}
				</div>

            </div>
            <div class="clear"></div>
            <!-- Top Searches -->
        </div>
	
    	<div class="featured_playlist" >
          {foreach $love as $ve}   
				<a style="color:#FF8140;font-size:30px" href="{$ve.loveurl}">{$ve.lovetitle}</a>----
		  {/foreach}
        </div>
<!-- Footer -->
<div id="copyrights">
    <div class="inner">
        <p>Copyright © 2013 VidSea. All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
        
    </div>
</div>

</body>
</html>


