  {extend name="public/header" /}
    {block name="content_left"}
    	<!-- Column 1 -->
        <div class="col1">
            <div class="news">
            	<h2 class="heading">News</h2>
                <ul class="newslisting">
                	<li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>25</h1>
                        </div>
                        <div class="desc">
                        	<span class="featured">Featured</span>
                        	<h4><a href="#" class="colr">Curabitur dolor sapien Sed elit</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                    <li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>24</h1>
                        </div>
                        <div class="desc">
                        	<h4><a href="#" class="colr">Vestibuluvolutpat eget dapibus ac</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                    <li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>23</h1>
                        </div>
                        <div class="desc">
                        	<h4><a href="#" class="colr">Lorem ipsum dolor sit amet</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                    <li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>22</h1>
                        </div>
                        <div class="desc">
                        	<h4><a href="#" class="colr">Nulla sem risus</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                    <li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>21</h1>
                        </div>
                        <div class="desc">
                        	<h4><a href="#" class="colr">Consectetuer adipiscing elit</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                    <li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>20</h1>
                        </div>
                        <div class="desc">
                        	<h4><a href="#" class="colr">Nulla sem risus, vestibuluvolutpat eget</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                    <li>
                    	<div class="date">
                        	<p>MAY 2011</p>
                            <h1>20</h1>
                        </div>
                        <div class="desc">
                        	<h4><a href="#" class="colr">Curabitur dolor sapien Sed elit</a></h4>
                            <p class="txt">
                            	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibuluvolutpat eget
dapibus ac, lectus. Curabitur dolor sapien Sed elit. Nulla sem risus, vestibuluvolutpat eget dapibus ac, lectu
curabitur dolor sapien... <a href="#">Read More</a><a href="#" class="catbtn">Entertainment</a>
                            </p>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
                <!-- Pagination -->
                <div class="paginations">
                	<h5 class="pagehead">PAGE</h5>
                    <ul>
                    	<li class="leftpage"><a href="#">&nbsp;</a></li>
                        <li class="pages"><a href="#">1</a></li>
                        <li class="pages"><a href="#">2</a></li>
                        <li class="pages"><a href="#">3</a></li>
                        <li class="pages"><a href="#">4</a></li>
                        <li class="pages"><a href="#" class="selected">5</a></li>
                        <li class="pages"><a href="#">6</a></li>
                        <li class="pages"><a href="#">7</a></li>
                        <li class="pages"><a href="#">8</a></li>
                        <li class="pages"><a href="#">9</a></li>
                        <li class="pages"><a href="#">10</a></li>
                        <li class="dots">...</li>
                        <li class="pages"><a href="#">103</a></li>
                        <li class="pages"><a href="#">104</a></li>
                        <li class="nextpage"><a href="#">&nbsp;</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Column 2 -->
        {/block}
        {block name="content_right"}
        <div class="col2">
        	<!-- Tabs -->
            <div class="tabs">
            	<div class="tab_menu_container">
                    <ul id="tab_menu">  
                        <li><a class="current" rel="tab_sidebar_recent">Recent</a></li>
                        <li><a class="" rel="tab_sidebar_comments">Comments</a></li>
                        <li><a class="" rel="tab_sidebar_tags">Tags</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
                <div class="tab_container">
                    <div class="tab_container_in">
                        <!-- Recent --> 
                        <div style="display: none;" id="tab_sidebar_recent" class="tab_sidebar_list">					
                        	<ul class="videolist">
                            	<li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video7.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>			
                        </div> 
                        <!-- END -->
                        <!-- Top Rated -->
                        <div style="display: none;" id="tab_sidebar_comments" class="tab_sidebar_list">  
                            <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video7.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div> 
                        <!-- END -->
                        <!-- Most Commented -->
                        <div style="display: none;" id="tab_sidebar_tags" class="tab_sidebar_list"> 
                            <ul class="videolist">
                            	<li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                            		<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video5.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">Brian</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video7.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                                <li>
                                	<div class="thumb">
                                    	<a href="#"><span class="add">&nbsp;</span><span class="rated">&nbsp;</span><img src="images/video8.gif" alt="" /></a>
                                    </div>
                                    <div class="desc">
                                    	<h5><a class="colr title" href="detail.html">Lorem ipsum dolor sit</a></h5>
                                        <p class="viewscount">2,061,785 Views</p>
                                        <p class="postedby">Posted By: <a href="#">RayWilliams</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- END -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        	<!-- Top Searches -->
            <div class="topsearches">
            	<h5>Top Searches</h5>
                <ul>
                	<li><a href="#" class="colr">Anne Roumanoff</a></li>
                    <li><a href="#" class="colr">Caméra caché</a></li>
                    <li><a href="#" class="colr">Cauet</a></li>
                    <li><a href="#" class="colr">Eric et Ramzy</a></li>
                    <li><a href="#" class="colr">Florence</a></li>
                    <li><a href="#" class="colr">Foresti</a></li>
                    <li><a href="#" class="colr">Franck Dubosc</a></li>
                    <li><a href="#" class="colr">Francois</a></li>
                    <li><a href="#" class="colr">Damiens</a></li>
                    <li><a href="#" class="colr">Anthony</a></li>
                    <li><a href="#" class="colr">Kavanagh</a></li>
                    <li><a href="#" class="colr">Jamel</a></li>
                    <li><a href="#" class="colr">Debbouze</a></li>
                    <li><a href="#" class="colr">Laurent</a></li>
                    <li><a href="#" class="colr">Ruquier</a></li>
                    <li><a href="#" class="colr">Les Nuls</a></li>
                    <li><a href="#" class="colr">Michaël Youn</a></li>
                    <li><a href="#" class="colr">Omar et Fred</a></li>
                    <li><a href="#" class="colr">Patrick Timsit</a></li>
                    <li><a href="#" class="colr">Rémi Gaillard</a></li>
                    <li><a href="#" class="colr">Gad ElMaleh</a></li>
                    <li><a href="#" class="colr">Stéphane Guillon</a></li>
                    <li><a href="#" class="colr">TF1 Replay</a></li>
                    <li><a href="#" class="colr">chatroulette</a></li>
                </ul>
                <a href="#" class="buttonone"><span>Most Viewed Videos</span></a>
                <a href="#" class="buttonone"><span>Recent Videos</span></a>
            </div>
            <div class="clear"></div>
            <!-- Advertisment -->
        	<div class="adv">
            	<a href="#"><img src="images/adv1.gif" alt="" /></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{/block}
