    {extend name="public/header" /}
    {block name="content_left"}
    	<!-- Column 1 -->
        <div class="col1">
            <div class="blog">
            	<h2 class="heading">Blog</h2>
                <ul class="bloglisting">
                    {if empty($list)}
                        <div class="desc">
                            <a class="comments_bubble" href="#">暂无信息</a>
                        </div>
                    {else}
                    {foreach $list as $value}
                	<li>
                    	 <div class="desc">
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" style="display: block;float: left;"><img src="{$datas['uimage']}" style="width: 35px"></a>
                            <a href="{:url('blog/blog',['uid'=>$value['uid']])}" class="articleuser">{$datas['uname']}</a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="biaoti">{$value['atitle']}</a> 
                            {if $value['public']==1}
                            <a href="javascript：void(0);" class="articlepower">所有人可见</a>
                            {else}
                            <a href="javascript：void(0);" class="articlepower">尽自己可见</a>
                            {/if}
                            <p class="time">{$value['pubtime']}</p>
                            <p class="postedby">{$value['tname']}</p>
                            <a class="comments_bubble" href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}">阅读{$value['readcount']}</a>
                            <p class="txt">
                                {$value['acontent']}
                            </p>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="colr readmore zhuanfa">{$value['fav']}</a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="colr readmore pinglun">{$value['reply']}</a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" class="colr readmore zan">{$value['favour']}</a>
                            {if $private==1}
                            <a href="{:url('details/delete',['aid'=>$value['aid']])}" style="width: 26px;" class="colr readmore ">
                                删除
                            </a>
                            <a href="{:url('details/details',['aid'=>$value['aid'], 'uid'=>$value['uid']])}" style="width: 26px;" class="colr readmore ">
                                编辑
                            </a>
                            {/if}
                        </div>
                    </li>
                    {/foreach}
                    {/if}

                </ul>
                <!-- Pagination -->
                {if !empty($list)}
                {$page}
                {/if}
                <div class="clear"></div>
                {if $private ==1}
                <div style="width: 697px;height: 152px;margin-top: 40px;">
            <form action="{:url('blog/postblog')}" onsubmit="return upload();" enctype="multipart/form-data">
                <div style="width: 697px;height: 50px;text-align: center;">
                    <input type="text" name="atitle" maxlength="20" placeholder="请输入微博标题" style="width: 210px;height: 24px;">
                    <input type="hidden" name="uid" value="{$Think.session.uid}">
                   <select name="tid">
                    <option disabled="disabled" selected="selected" value="0">请选择文章的话题</option>
                    {foreach $topic as $value}
                       <option value="{$value['tid']}">{$value['tname']}</option>
                    {/foreach}
                   </select>
                   <select name="public">
                    <option selected="selected" value="1">公开</option>
                    <option value="0">尽自己可见</option>
                   </select>
                </div>
                <script id="container" name="acontent" type="text/plain" style="width:100%;height:300px;"></script>
                <script type="text/javascript">
                                                        var editor = UE.getEditor('container',{
                                                        //这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
                                                        toolbars:
                                                        [
                                                            [   /*'fullscreen',*/ 'source', 'undo', 'redo'],
                                                            [   'bold', //加粗
                                                                'italic', //斜体
                                                                'underline', //下划线
                                                                'strikethrough', //删除线
                                                                'blockquote', //引用
                                                                'pasteplain', //纯文本粘贴模式
                                                                'selectall', //全选
                                                                'horizontal', //分隔线
                                                                'insertcode', //代码语言
                                                                'fontfamily', //字体
                                                                'fontsize', //字号
                                                                'paragraph', //段落格式
                                                            ],
                                                            [
                                                                'simpleupload', //单图上传
                                                                'insertimage', //多图上传
                                                                'link', //超链接
                                                                'unlink', //取消链接
                                                                'emotion', //表情
                                                                'spechars', //特殊字符
                                                                'justifyleft', //居左对齐
                                                                'justifyright', //居右对齐
                                                                'justifycenter', //居中对齐
                                                                'justifyjustify', //两端对齐
                                                                'forecolor', //字体颜色
                                                                'backcolor', //背景色
                                                                'insertorderedlist', //有序列表
                                                                'insertunorderedlist', //无序列表
                                                                'imagecenter', //居中
                                                                'lineheight', //行间距
                                                                'scrawl', //涂鸦
                                                            ]
                                                        ],
                                                        //focus时自动清空初始化时的内容
                                                        autoClearinitialContent:true,
                                                        //关闭字数统计
                                                        wordCount:false,
                                                        //关闭elementPath
                                                        elementPathEnabled:false,
                                                        //默认的编辑区域高度
                                                        initialFrameHeight:300
                                                        //更多其他参数，请参考ueditor.config.js中的配置项
                                                    });
                </script>
                <button style="cursor: pointer;">发表</button>
            </form>


            <form method="post" action="{:url('sendPayOrd')}" id="update-pwd">
                <input type="hidden" >
        <div class="register-main bor-btm">
            <ul class="register">
                <li>
                    <label>金额：</label>
                    <label style="font-size:18px;font-weight: bold;">￥：10.0</label>
                    <input type="hidden" name="p3_Amt" value="0.01">
                </li>
                <li class="order">
                    <label>订单号：</label>
                    <input type="text" value="" id="adminName" class="form-control" name="username" maxlength="10" autocomplete="off" disabled="disabled" style="width:220px;height:30px;border-radius:5px;"/>
                    <input type="hidden" name="p2_Order" value="" class="dingdanNum">
                </li>
            </ul>
            <div class="btn-div">
            <button name="" class="sure" style="width:120px;height:35px;background:#FF5A37;color:white;font-size:15px;border-radius:10px;margin-left:100px;">确认充值会员</button>
                <button type="submit" name="" class="pay" style="width:120px;height:35px;background:#FF5A37;color:white;font-size:15px;border-radius:10px;margin-left:100px;display:none">前往支付</button>
            </div>  
        </div> 
        </form>

        <script type="text/javascript">
var is_pay = 0;
$('.sure').click(function(){   
    $('.order').css('display','block');
    $('.sure').css('display','none');
    $('.pay').css('display','block');
});
$('.pay').click(function(){
    is_pay = 1;
});
 getrandnum(); 
  function getrandnum()
  {
     var str = '';
     for(var i=0; i<16; i++){
      var num = parseInt(Math.random() * 10);
      str += num;
     }
     $('#adminName').val(str);
     $('.dingdanNum').val(str);
  }
  $('.dingdan').click(getrandnum());
</script>



            <!-- 上传文件js -->
           <!--  <script type="text/javascript">
               
           </script> -->
        </div>
        {/if}
            </div>
            <div class="clear"></div>
        </div>
        {/block}
        <!-- Column 2 -->
        {block name="content_right"}
        <div class="col2">
        	<!-- Categories -->
            <div class="categories">
                <div class="txgr">
                {if $private==1}
                <form action="{:url('blog/uploadHead')}" method="post" enctype="multipart/form-data" style="width:auto;">
                    
                    <a href="javascript:void(0);"  onclick="updatefile()">
                        <img src="{$datas['uimage']}" style="width:50px;height:55px;float: left;" title="更换头像">
                    </a>
                    
                    
                     <input type="file" name="image[]" id="fileToUpload" onchange="fileSelected();" style="display:none;cusor:pointer;">
                     <input id="submit" type="submit" value="确认上传" style="display:none;color:red" onclock="displaysubmit()">
                       <script type="text/javascript">
                    function updatefile(){
                        document.getElementById("fileToUpload").click(); 
                           $('#submit').css('display','none');   
                    }
                    function fileSelected() {
                      $('#submit').css('display','block'); 
                    }
                    function displaysubmit(){
                        $('#submit').css('display','none'); 
                    }
                </script>
                </form>
                 {else}
                    <img src="{$datas['uimage']}" style="width:50px;height:55px;float: left;">
					<input type="hidden" name="islog" id="panduan" value="{$islog}">
					{if $islog == 1}
						{if $isAttention}
						<a href="{:url('blog/setAttention')}?attuid={$datas['uid']}&lid=1" class="qu"><span style="width:50px">取消关注</span></a>
						{else}
						<a href="{:url('blog/setAttention')}?attuid={$datas['uid']}"><span style="width:50px">加关注</span></a>
						{/if}
					 {/if}
					<script type="text/javascript">
							
					</script>
                {/if}
                </div>
              
                <span id="sp" style="display:non;">点击头像可以更换，温馨头像不能超过2M</span>
            	<span><a>{$datas['uname']}</a></span>
                <ul>
                    <!-- 关注,粉丝,微博 -->
                	<li class="sanxiang">
                       <a>关注</a>
                       <a>粉丝</a>
                       <a>微博</a> 
                    </li>
                    <li class="sanxiang">
                       <a>{$attentions}</a>
                       <a>{$fans}</a>
                       <a>{$articlecount}</a> 
                    </li>
                    {if $dataintro}
                        {foreach $dataintro as $k => $value}
                            {if $k!='uid'&&$value!=''}
                            <li class="intro"><a href="#" style="width: 105px;">{$k}</a></a><a href="#">{$value}</a></li> 
                            {/if}
                        {/foreach} 
                    {else}
                    <li class="intro"><a href="#">博主太懒，什么都没留下~</a></li>
                    {/if}
                </ul>
            </div>
            <div class="clear"></div>
        	<!-- Tabs -->
            <div class="tabs">
            	<div class="tab_menu_container">
                    <ul id="tab_menu">  
                        <li><a class="current" rel="tab_sidebar_recent">关注</a></li>
                        <li><a class="" rel="tab_sidebar_comments">粉丝</a></li>
                        <li><a class="" rel="tab_sidebar_tags">我的收藏</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                
                <div class="tab_container">
                    <div class="tab_container_in">
                        <!-- 关注 --> 
                        <div style="display: none;" id="tab_sidebar_recent" class="tab_sidebar_list">			{if empty($attentioner)}
                            <span>该用户尚未关注任何人</span>
                            {else}
                            <ul class="videolist">
                            {foreach $attentioner as $value}
                            	 <li>
                                    <div class="thumb">
                                    <a href="{:url('blog/blog',['uid'=>$value['attuid']])}"><span class="rated">&nbsp;</span><img src="{$value['uimage']}" alt="{$value['uname']}" style="height: 66px;"/></a>
                                    </div>
                                    <div class="desc">
                                        <a class="colr title" href="{:url('details/details',['aid'=>$value['aid'],'uid'=>$value['attuid']])}">最新动态:{$value['atitle']}</a>
                                        <p class="viewscount"><a>{$value['atttime']}</a></p>
                                        <p class="postedby"><a href="{:url('blog/blog',['uid'=>$value['attuid']])}">{$value['uname']}</a>&nbsp;积分:{$value['score']}</p>
                                    </div>
                                </li>
                            {/foreach} 
                            </ul>
                            {/if}
                            {$attentionpage}			
                        </div> 
                        <!-- END -->
                        <!-- 粉丝 -->
                        <div style="display: none;" id="tab_sidebar_comments" class="tab_sidebar_list">  
                           {if empty($fanser)}
                            <span>尚未用户关注该用户</span>
                            {else}
                            <ul class="videolist">
                            {foreach $fanser as $value}
                                <li>
                                    <div class="thumb">
                                    <a href="{:url('blog/blog',['uid'=>$value['uid']])}"><span class="rated">&nbsp;</span><img src="{$value['uimage']}" alt="{$value['uname']}" style="height: 66px;"/></a>
                                    </div>
                                    <div class="desc">
                                        <a class="colr title" href="{:url('details/details',['aid'=>$value['aid'],'uid'=>$value['uid']])}">最新动态:{if empty($value['atitle'])}无{else}{$value['atitle']}{/if}</a>
                                        <p class="viewscount"><a>{$value['atttime']}</a></p>
                                        <p class="postedby"><a href="{:url('blog/blog',['uid'=>$value['uid']])}">{$value['uname']}</a>&nbsp;积分:{$value['score']}</p>
                                    </div>
                                </li>
                            {/foreach} 
                            </ul>
                            {/if}
                            {$fansPage}
                        </div> 
                        <!-- END -->
                        <!-- 收藏 -->
                        <div style="display: none;" id="tab_sidebar_tags" class="tab_sidebar_list"> 
                            {if empty($selectFav)}
                            <span>该用户尚未收藏任何微博</span>
                            {else}
                            <ul class="videolist">
                                {foreach $selectFav as $value}
                            	<li>
                                    <div class="thumb">
                                    <a href="{:url('blog/blog',['uid'=>$value['ruid']])}"><span class="rated">&nbsp;</span><img src="{$value['uimage']}" alt="{$value['uname']}" style="height: 66px;"/></a>
                                    </div>
                                    <div class="desc">
                                    	<a class="colr title" href="{:url('details/details',['aid'=>$value['aid'],'uid'=>$value['ruid']])}">最新动态:{$value['atitle']}</a>
                                        <p class="viewscount">{$value['favtime']}</p>
                                        <p class="postedby">作者: <a href="{:url('blog/blog',['uid'=>$value['ruid']])}">{$value['uname']}</a>&nbsp;阅读量:{$value['readcount']}</p>
                                    </div>
                                </li>
                                {/foreach}
                            </ul>
                            {$selectFavPage}
                            {/if}
                        </div>
                        <!-- END -->
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!-- Advertisment -->
        	<div class="adv">
            	<a href="#"><img src="__IMG__/adv1.gif" alt="" /></a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="clear"></div>
{/block}